// ====== Color ======
$gradient-color: linear-gradient(158deg, rgb(244, 11, 0) 16%, rgb(200, 0, 20) 71%);
$background-color: rgb(35, 38, 37);
$back-col-opacity: rgba(38, 37, 36, 0.9);
$text-col-form-keep: rgb(102, 103, 89);
$thumbBG: rgb(200, 0, 20);

// ====== Text ========
$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Montserrat', sans-serif;