/*BACKGROUND*/
.divImgAbout{
  text-align: center;
  width: 100%;
}

.bg-about{
  width: 100%;
  height: 100%;
}

.text-about{
  font-family: $font-secondary;
}

.meetTheTeamClass{
  color: white;
  font-family: $font-primary;
}

@media (min-width: 800px) {
  .text-about{
    font-size: 60px;
    display: inline-block;
    font-family: $font-secondary;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 43vh 0 !important;
    background-attachment: fixed;
  }
  .bg-about{
    margin-top: -76px;
  }
  .divImgAbout{
    margin-top: -76px;
  }
}

.gradientTextAboutUs {
  @extend %gradientText;
  filter: brightness(1);
}

.phraseImage {
  font-family: 'Hurricane', cursive;
  font-size: 40px;
}

.imgComponentiTeam {
  width: 100%;
  border: 1px solid transparent;
}

#mailToAxland {
  cursor: pointer;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}