/*PORTFOLIO*/
.functionFotoVideo {
  cursor: pointer;
  border: 0;
  background-color: $background-color;
  color: #fff;
  font-size: 2.5rem;
  outline: none !important;

  &:visited {
    text-decoration: none;
  }
}

.titleGallery {
  max-width: 1100px;
  margin: auto !important;
}

#fotoDiv {
  width: 100%;
  padding-bottom: 50px;
  text-align: center;
  margin-top: 20px;
}

#videoDiv {
  width: 100%;
  padding-bottom: 50px;
  text-align: center;
  margin-top: 20px;
  display: none;
}

#textPortfolioVideo {
  display: none;
}

.cardFotoVideo {
  height: 42vh;
}

.imgCardFotoVideo {
  width: 100%;
  border-radius: 25px;
  filter: opacity(75%);
}

.writtenCenter {
  margin-top: -50%;
  filter: opacity(100%);
}

.containerBtnFotoVideo {
  margin-top: 5vh;
}

.marginTopImgCardFotoVideo {
  margin-top: 5vh;
}

.activeBtn {
  border-bottom: 3px solid $thumbBG !important;
  color: white !important;
}

.noActiveBtn {
  border-bottom: 0px solid $thumbBG !important;
  color: $text-col-form-keep !important;
}

@media (max-width: 550px) {
  .functionFotoVideo {
    font-size: 1.5rem !important;
  }
  .marginTopImgCardFotoVideo {
    margin-top: 0;
  }
  .cardFotoVideo {
    margin-top: 5vh;
  }
}
