@font-face {
    font-family: "flaticon";
    src: url("fonts/flaticon.ttf?1a22096fc6471af2322ece8adfd84d6c") format("truetype"),
url("fonts/flaticon.woff?1a22096fc6471af2322ece8adfd84d6c") format("woff"),
url("fonts/flaticon.woff2?1a22096fc6471af2322ece8adfd84d6c") format("woff2"),
url("fonts/flaticon.eot?1a22096fc6471af2322ece8adfd84d6c#iefix") format("embedded-opentype"),
url("fonts/flaticon.svg?1a22096fc6471af2322ece8adfd84d6c#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-premium-badge:before {
    content: "\f101";
}
.flaticon-warranty:before {
    content: "\f102";
}
.flaticon-24-hours:before {
    content: "\f103";
}
.flaticon-seo-and-web:before {
    content: "\f104";
}
