#creativity {
  width: 100%;
  background-color: palegoldenrod;
  padding: 120px 0;
}

.top-200{
  top: 200px;
}

.top--50 {
  top: -50px;
}

#creativity-2 {
  margin: 120px 0;
}

#paragraph{
  margin: 120px 0;
}

.top--400{
  top: -400px;
}