section#our-team {
  margin-bottom: 60px;
  .text-wrapper {
    .text-paragraph {
      background-color: #abd8ff;
      padding: 50px 15%;
    }
  }
  .image-wrapper {
    transform: translateY(15%);
  }
}