/*==========================
    Service Area 
===========================*/
/* Bg Color Variation  */
.img-icon-foto {
        background-image: url(../images/bg/foto_n.svg);
        background-size: 44px;
        background-repeat: no-repeat;
        width: 100px;
        height: 50px;
        content: '';
    :hover {
        background-image: url(../images/bg/foto.svg);
    }
}
.img-icon-musica {
    background-image: url(../images/bg/music.svg);
    background-size: 44px;
    background-repeat: no-repeat;
    width: 100px;
    height: 50px;
    content: '';
}
.img-icon-drone {
    background-image: url(../images/bg/drone.svg);
    background-size: 44px;
    background-repeat: no-repeat;
    width: 100px;
    height: 50px;
    content: '';
}
.img-icon-video {
    background-image: url(../images/bg/video.svg);
    background-size: 44px;
    background-repeat: no-repeat;
    width: 100px;
    height: 50px;
    content: '';
}
.single-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    .icon {
        svg {
            width: 54px;
            height: 54px;
        }
    }
    h3 {
        &.title {
            @media #{$lg-layout} {
                font-size: 20px;
            }
        }
    }
    // Service Style One
    &.service__style--1 {
        padding: 40px 0;
        @extend %transition;
        @extend %posrelative;
        z-index: 2;
        @media #{$sm-layout} {
            padding: 15px 0;
        }
        @media #{$md-layout} {
            padding: 20px 0;
        }
        .icon {
            font-size: 52px;
            font-weight: 400;
            margin-bottom: 23px;
            display: inline-flex;
            color: $theme-color;
            @extend %transition;
            svg {
                stroke-width: 1 !important;
            }
            img {
                margin-bottom: 34px;
            }
        }
        .content {
            h3 {
                &.title {
                    margin-bottom: 19px;
                    font-weight: 400;
                    @extend %transition;

                    @media #{$sm-layout} {
                        font-size: 18px;
                    }
                    a {
                        color: inherit;
                    }
                }
            }
            p {
                @extend %transition;
                color: rgba(29, 29, 36, 0.75);
            }
        }

        &.text-white {
            z-index: 2;
            .content {
                h3 {
                    &.title {
                        color: #c6c9d8;
                    }
                }
                p {
                    color: #c6c9d8;
                }
            }
        }
    }

    &.service__style--2 {
        @extend %posrelative;
        a {
            display: block;
            @extend %transition;
        }
        @media #{$md-layout} {
            padding: 30px 25px;
        }

        @media #{$sm-layout} {
            padding: 30px 14px;
        }

        @media #{$large-mobile} {
            padding: 30px 18px;
            margin-top: 30px;
        }
        .icon {
            font-size: 52px;
            font-weight: 400;
            margin-bottom: 23px;
            display: inline-flex;
            color: $theme-color;
            @extend %transition;

            @media #{$large-mobile} {
                color: #ffffff;
            }

            svg {
                stroke-width: 1 !important;
            }
        }
        .content {
            h3 {
                &.title {
                    margin-bottom: 19px;
                    font-weight: 500;
                    @extend %transition;

                    @media #{$sm-layout} {
                        font-size: 16px;
                        margin-bottom: 14px;
                    }

                    @media #{$large-mobile} {
                        color: #ffffff;
                    }

                    a {
                        color: inherit;

                        @media #{$large-mobile} {
                            color: #ffffff;
                        }
                    }
                }
            }

            p {
                @extend %transition;
                color: rgba(29, 29, 36, 0.75);

                @media #{$large-mobile} {
                    color: #ffffff;
                }
            }
        }
        &:hover {
            a {
                transform: translateY(-5px);
            }
            .icon {
                color: #ffffff;
                img {
                    filter: invert;
                }
            }
            .content {
                h3 {
                    &.title {
                        @extend %textwhite;
                    }
                }

                p {
                    @extend %textwhite;
                }
            }
        }
        &.service-left-align {
            display: flex;
            padding: 50px 24px;
            .icon {
                padding-right: 20px;
            }
        }
        a {
            padding: 60px 45px;
            z-index: 2;
            border-radius: 10px;

            @media #{$sm-layout} {
                padding: 60px 14px;
            }

            @media #{$lg-layout} {
                padding: 50px 11px;
            }

            @media #{$md-layout} {
                padding: 60px 25px;
            }

            &::before {
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                background-image: linear-gradient(to right, #f61b10, #ef0963);
                width: 100%;
                height: 100%;
                z-index: -1;
                opacity: 0;
                visibility: hidden;
                @extend %transition;
                border-radius: 10px;

                @media #{$large-mobile} {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        &.bg-color-gray,
        &.bg-color-white {
            margin-top: 0;
            @media #{$lg-layout} {
                padding: 0;
            }
            @media #{$md-layout} {
                padding: 0;
            }
            @media #{$sm-layout} {
                padding: 0;
            }
            a {
                display: flex;
                height: 100%;
                background: #f6f6f6;
                position: relative;

                @media #{$lg-layout} {
                    padding: 33px 22px;
                }
                @media #{$md-layout} {
                    padding: 35px 14px;
                }
                @media #{$sm-layout} {
                    padding: 35px 14px;
                }
            }
        }

        // Bg White Color 
        &.bg-color-white {
            a {
                background: hsla(0,0%,100%,.3);
            }
            .icon {
                color: #ffffff;
            }
            .content {
                h3 {
                    &.title {
                        color: #ffffff;
                    }
                }
                p {
                    color: #ffffff;
                }
            }
        }

        &:hover {
            a {
                box-shadow: 0 10px 25px 10px rgba(0, 0, 0, 0.1);
                &::before {
                    opacity: 1;
                    visibility: visible;
                }
            }

            &.bg-color-gray,
            &.bg-color-white {
                a {
                    background: transparent;
                }
            }
        }
    }

    &.service__style--3 {
        padding: 40px 0;
        @extend %transition;
        @extend %posrelative;
        z-index: 2;
        margin-top: 50px;

        @media #{$laptop-device} {
            margin-top: 20px;
        }
        @media #{$sm-layout} {
            padding: 15px 0;
            margin-top: 0;
        }
        @media #{$md-layout} {
            padding: 20px 0;
        }
        .icon {
            font-size: 52px;
            font-weight: 400;
            display: inline-flex;
            color: $theme-color;
            width: 44px;
            height: 74px;
            
            img {
                margin-bottom: 34px;
                @media #{$large-mobile} {
                    margin-bottom: 13px;
                    
                }
            }
        }

        .content {
            text-align: center;
            h3 {
                &.title {
                    margin-bottom: 20px;
                    font-weight: 400;
                    font-size: 22px;

                    @media #{$sm-layout} {
                        font-size: 18px;
                    }

                    @media #{$large-mobile} {
                        color: #ffffff;
                    }
                }
            }

            p {
                opacity: .75;
                font-weight: 300;
                color: #c6c9d8;
            }
        }

        &.text-white {
            z-index: 2;

            .content {
                h3 {
                    &.title {
                        color: #c6c9d8;
                    }
                }

                p {
                    color: #c6c9d8;

                }
            }
        }
    }

    // Service Style Four 
    &.service__style--4 {
        padding: 30px 38px;
        z-index: 2;
        border-radius: 10px; 
        position: relative;
        @extend %transition;
        cursor: pointer;
        @media #{$laptop-device} {
            padding: 20px 20px;
        }
        @media #{$lg-layout} {
            padding: 20px 20px;
        }
        @media #{$md-layout} {
            padding: 30px 25px;
        }
        @media #{$sm-layout} {
            padding: 20px 20px;
        }
        @media #{$large-mobile} {
            margin-top: 30px;
        }
        &.large-size {
            padding: 60px 45px;
            @media #{$lg-layout} {
                padding: 25px 20px;
            }
            @media #{$md-layout} {
                padding: 30px 25px;
            }
            @media #{$sm-layout} {
                padding: 25px 20px;
            }
        }

        &::before {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            background-image: -webkit-gradient(linear,left top,right top,from(#f61b10),to(#ef0963));
            background-image: -webkit-linear-gradient(left,#f61b10,#ef0963);
            background-image: linear-gradient(90deg,#f61b10,#ef0963);
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: 0;
            visibility: hidden;
            border-radius: 10px;
            @extend %transition;
            @media #{$large-mobile} {
                opacity: 1;
                visibility: visible;
            }
        }
        a{
            display: block;
        }
        .icon {
            display: inline-flex;
            font-size: 52px;
            font-weight: 400;
            margin-bottom: 23px;
            display: inline-flex;
            color: $theme-color;
            @extend %transition;
            @media #{$sm-layout} {
                margin-bottom: 18px;
            }
            @media #{$large-mobile} {
                color: #fff;
            }
            svg {
                stroke-width: 1 !important;
            }
        }
        .content {
            h3 {
                &.title {
                    margin-bottom: 19px;
                    font-weight: 500;
                    @extend %transition;
                    @media #{$laptop-device} {
                        margin-bottom: 12px;
                        font-size: 18px;
                    }
                    @media #{$large-mobile} {
                        color: #fff;
                    }
                    @media #{$sm-layout} {
                        margin-bottom: 10px;
                        font-size: 16px;
                    }
                }
            }
            p {
                color: rgba(29,29,36,.75);
                @extend %transition;
                @media #{$large-mobile} {
                    color: #fff;
                }
            }
        }
        &:hover {
            box-shadow: 0 10px 25px 10px rgba(0,0,0,.1);
            -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
            &::before {
                opacity: 1;
                visibility: visible;
            }
            .icon {
                color: #fff;
            }
            .content {
                h3 {
                    &.title {
                        color: #fff;
                    }
                }
                p {
                    color: #fff;
                }
            }
        }
    }
}


/* ---------------------------
    Standard Service  
-------------------------------*/
.standard-service {
    .thumbnai {
        img {
            border-radius: 5px;
        }
    }
    .content{
        h3 {
            font-size: 17px;
            margin-top: 30px;
            margin-bottom: 10px;
            font-weight: 600;
            a {
                @extend %transition;
                color: $heading-color;
                &:hover {
                    color: $theme-color;
                }
            }
        }
        p {
            font-size: 13px;
            line-height: 24px;
        }
        a {

        }
    }
}




/*---------------------------
    Paralax Service Style  
-----------------------------*/

.rn-paralax-service {
    .service__style--2 {
        z-index: 2;
        padding: 40px 40px;
        background: rgba(255, 255, 255, 0.3);
        margin-top: 40px;
        overflow: hidden;
        border: 2px solid transparent;

        @media #{$sm-layout} {
            padding: 30px 20px;
            background: transparent;
            margin-top: 30px;
        }

        .icon {
            color: #ffffff;
        }

        .content {
            h3 {
                &.title {
                    font-size: 17px;
                    color: #ffffff;
                }
            }

            p {
                color: rgba(255, 255, 255, 0.75);
            }
        }

        &:hover {
            border: 2px solid $theme-color;

            &::before {
                border-radius: 0;
            }
        }
    }
}

.service-one-wrapper {
    @media #{$md-layout} {
        margin: 0 -40px;
    }
    @media #{$sm-layout} {
        margin: 0 -40px;
    }
    @media #{$large-mobile} {
        margin: 0 -15px;
    }
}

#contact-us {
    padding-bottom: 75px;
}

.music-page {

    .paragraph-card {
        background: #d9edff;
        padding: 60px 30px;
        border-radius: 35px;
    }

    #make-your-music {
        margin: 130px 0;
        .container {
            position: relative;
            .bars-wrapper {
                display: flex;
                align-items: center;
                height: 300px;
                .bar {
                    flex: 1;
                    height: 300px;
                    background: rgb(194, 220, 239);
                    margin: 0 1%;
                    &.odd {
                        animation: bars-music 5s infinite ease-in-out;
                    }
                    &.other {
                        animation: bars-music-2 3s infinite ease-in;
                    }
                    &.not-odd {
                        animation: bars-music-3 2s infinite ease-out;
                    }
                }
            }
            .bars-title {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                text-align: center;
                font-size: 38px;
                font-weight: 700;
            }
        }
    }

    #music-grid {
        margin: 150px 0;
        .mood-title {
            font-size: 44px;
            text-align: end;
        }
        .flip-card {
            .content {
                .back {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    h4,p {
                        text-align: center;
                        padding: 15px 30px;
                        margin: 0;
                        color: inherit;
                    }
                    h4 {
                        font-size: 34px;
                    }
                }
            }
        }
    }

    .fa-angle-up {
        filter: hue-rotate(215deg);
    }
}

    @keyframes bars-music {
        from {height: 300px;}
        25% {height: 50px;}
        50% {height: 150px;}
        75% {height: 30px;}
        to {height: 300px;}
    }

    @keyframes bars-music-2 {
        from {height: 30px;}
        50% {height: 150px;}
        50% {height: 50px;}
        50% {height: 300px;}
        to {height: 30px;}
    }

    @keyframes bars-music-3 {
        from {height: 300px;}
        50% {height: 50px;}
        to {height: 300px;}
    }


.drone-page {
    .page-color {
        background-color: #191919;
    }

    color: white;

    p {
        color: white;
    }

    #contact-us {
        background-color: #191919;
        .contact-us-wrapper {
            background-color: #767676;
            button {
                background-color: #343a40;
                border-color: #343a40;
            }
        }
    }

    .drone-grid {
        background-color: #191919;
        padding-top: 250px;

        .grid-item {
            overflow: hidden;
            & > * {
                transition: all 1s ease-in-out;
            }
            .img-wrapper {
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-image: linear-gradient(0deg, #3a3a3a,#ffffff17);                }
            }

            .grid-title {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                padding: 30px;
                transform: translate(-50%, -50%);
                text-align: center;
                font-size: 36px!important;
                font-weight: bold;
            }

            .grid-cta {
                position: absolute;
                top: 65%;
                left: 50%;
                padding: 2px 12px;
                transform: translate(-50%, 0%);
                text-align: center;
                font-size: 12px!important;
                font-weight: bold;
                color: black;
                background-color: white;
                border-radius: 15px;
            }

            .paraghaph-more-info {
                position: absolute;
                top: 100%;
                left: 50%;
                width: 100%;
                padding: 30px;
                transform: translate(-50%, -50%);
                text-align: center;
                opacity: 0;
            }
            

            &:hover {
                & > * {
                    transition: all 1s ease-in-out;
                }
                .img-wrapper {
                    &::after {
                        background-image: linear-gradient(0deg, #3a3a3ac8,#3a3a3ac8);
                    }
                }
                .grid-title {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    width: 100%;
                    padding: 30px;
                    transform: translate(-50%, 0);
                    text-align: center;
                    font-size: 30px!important;
                    font-weight: bold;
                }

                .grid-cta {
                    position: absolute;
                    top: 40px;
                    left: 50%;
                    padding: 2px 12px;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    font-size: 12px!important;
                    font-weight: bold;
                    opacity: 0;
                }

                .paraghaph-more-info {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    padding: 30px 30px 150px;
                    margin-top: 80px;
                    transform: translate(0);
                    text-align: center;
                    opacity: 1;
                    overflow-y: scroll;
                }
            }
        }
    }

    .editorial-abstract {
        background-image: linear-gradient(90deg, #f81d0c4a, #ef0d61);
        border-top-right-radius: 150px;
        border-bottom-right-radius: 150px;

        h4 {
            padding: 65px 65px 65px 5px;
            margin: 0;
            font-size: 40px;
            margin: 0 0 0 auto;
        }

        &::before {
            content: '';
            position: absolute;
            left: -100%;
            top: 0;
            width: 100%;
            height: 100%;
            background: #f81d0c4a;
        }

        &.reverse {
            background-image: linear-gradient(270deg, #f81d0c4a, #ef0d61);
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;

            border-top-left-radius: 150px;
            border-bottom-left-radius: 150px;

            h4 {
                padding: 65px 5px 65px 65px;
                margin: 0;
                font-size: 40px;
                margin: 0 auto 0 0;
            }

            &::before {
                content: '';
                position: absolute;
                left: 100%;
                top: 0;
                width: 100%;
                height: 100%;
                background: #f81d0c4a;
            }
        }
    }

    .editorial-abstract-2 {
        p {
            margin: 0;
            font-size: 40px;
            max-width: 600px;
            text-align: center;
            line-height: initial;
            margin-bottom: 100px;
            span {
                font-weight: bold;
            }
        }
    }

    .drone-card {
        background-color: white;
        padding: 30px;
        border-radius: 30px;
        margin: 0 12px 50px;
        h3, p {
            color: black;
        }
    }

}

@media only screen and (max-width: 600px) {
    .drone-page {
        .megadrone {
            top: 80%;
        }
        .slide {
            .container {
                margin-bottom: 50%;
            }
        }
    }    
}


.card-icon {
    width: 44px;
    position: relative;
    display: inline-block;
}
.card-icon .img-top {
    width: 44px;
    display: none;
    top: 0;
    left: 0;
    z-index: 99;
}
.single-service:hover .img-top {
    display: inline;
}
.single-service:hover .img-bot {
    display: none;
}