%btn {
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;

  &:hover {
    transform: scale(0.98) !important;
  }

  &:focus {
    outline: 0;
  }

  &:active {
    outline: none;
  }
}

%btnGeneral {
  @extend %btn;
  border-radius: 25px;
  background-color: transparent;
  border: 2px solid white;

  &:hover {
    color: $gradient-color;
    box-shadow: 0.5px 0.5px 25px #000;
  }
}

.btnGeneral {
  @extend %btnGeneral;
}

.xModal {
  color: rgba(0, 0, 0, 0.5);
  align-items: center;
  margin: 10px;
  cursor: pointer;
  float: right;
}

#mailToAxland:hover {
  color: $gradient-color;
}
