.photo-page {
  .video-grid {
    padding-top: 50px;

    .grid-item {
      color: white;
      overflow: hidden;
      & > * {
          transition: all 1s ease-in-out;
      }
      .img-wrapper {
          position: relative;
          &::after {
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              background-image: linear-gradient(0deg, #3a3a3a,#ffffff17);                }
      }

      .grid-title {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100%;
          padding: 30px;
          transform: translate(-50%, -50%);
          text-align: center;
          font-size: 36px!important;
          font-weight: bold;
      }

      .grid-cta {
          position: absolute;
          top: 65%;
          left: 50%;
          padding: 2px 12px;
          transform: translate(-50%, 0%);
          text-align: center;
          font-size: 12px!important;
          font-weight: bold;
          color: black;
          background-color: white;
          border-radius: 15px;
      }

      .paraghaph-more-info {
          position: absolute;
          top: 100%;
          left: 50%;
          width: 100%;
          padding: 30px;
          transform: translate(-50%, -50%);
          text-align: center;
          opacity: 0;
      }
      

      &:hover {
          & > * {
              transition: all 1s ease-in-out;
          }
          .img-wrapper {
              &::after {
                  background-image: linear-gradient(0deg, #3a3a3ac8,#3a3a3ac8);
              }
          }
          .grid-title {
              position: absolute;
              top: 0;
              left: 50%;
              width: 100%;
              padding: 30px;
              transform: translate(-50%, 0);
              text-align: center;
              font-size: 26px!important;
              font-weight: bold;
          }

          .grid-cta {
              position: absolute;
              top: 40px;
              left: 50%;
              padding: 2px 12px;
              transform: translate(-50%, -50%);
              text-align: center;
              font-size: 12px!important;
              font-weight: bold;
              opacity: 0;
          }

          .paraghaph-more-info {
              position: absolute;
              top: 10px;
              left: 0;
              width: 100%;
              height: 100%;
              padding: 30px 30px 150px;
              margin-top: 80px;
              transform: translate(0);
              text-align: center;
              opacity: 1;
              overflow-y: scroll;
          }
      }
  }
  }
}

.he-50 {
  height: 380px;
}